@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.FirstName</h2>
<h2>Welcome to Faculty Portal</h2>

<div>@Html.ActionLink("LogOut", "LogOut", "Account")</div>